.fondo-claro{
    background-color: rgb(243, 243, 243) !important;
}

.Logo img{
  margin: 10px 0px 10px 50px;
    height: 125px;
    
}

header{
    
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ecf3ff !important;
    
}
footer{
  background-color: #d4e2f3 !important;
}
.navegacion{
    vertical-align: center;
}
nav{
    padding-left: 50px;
}
.categorias{
    padding: 5px 26px 5px 26px;
}
.boton-barra{
    margin-right: 50px;
    margin-top: 5px;
}
.barra-oculta{
    margin-right: 125px;
    background-color: #0d121a !important;
}
.banner{
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.barra-oculta a{
  color: #81baf3;
  padding-left: 35px !important;
  padding-right: 35px !important;
  border-left: solid #a3b9da00  2px !important;
  border-right: solid #a3b9da00  2px !important;
  font-size: 22px;
  font-weight: 300;
  
}
.barra-oculta a:hover{
  color: #e5e9f0 !important;
  border-left: solid #a3b9da  2px !important;
  border-right: solid #a3b9da  2px !important;
  background-color: rgb(30, 39, 59);
  
}

.navegacionSecundaria{
    height: 50px;
}
.modulo-emprendedores{
    height: 125px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 10px;
    margin-right: 25px;
    margin-bottom: 15px;
    border-radius: 10px;
    margin-top: 15px;
}
.emprendedores-flecha{
  margin-right: -15px !important;
  margin-top: 10px;
  width: 50px;
  height: 50px;
  fill: #0d2647;
}

.emprendedores-flecha:hover{
  margin-right: -20px !important;
  width: 65px;
height: 65px;
fill: #174583;

}
.barra-emprendedores{
  margin-top: 60px;
  padding: 0 25px 0 25px;
  background-color: #d6e3f5;
  margin-right: 235px;
  border-radius: 25px;
  
}
.barra-emprendedores a{
  font-size: 18px;
  font-weight: 600 !important;
  margin: 0 5px 0 5px;
  padding: 15px 15px 15px 15px;  
  color: #081c35;
  border-left: solid #a3b9da00  2px !important;
  border-right: solid #a3b9da00  2px !important;
}
.barra-emprendedores a:hover{
  margin: 0 5px 0 5px;
  padding: 15px 15px 15px 15px;
  background-color: #81a7e4;
  color: rgb(9, 15, 20);
  border-left: solid #2e5794  2px !important;
  border-right: solid #2e5794 2px !important;
  
}
.navbar-toggler:focus{
  box-shadow: 0 0 0 0 !important;
}

.banner-inicio{
    height: 300px;
    width: 96%;
    margin: 20px 30px;
    border-radius: 35px;
    box-shadow: 0px 3px 3px 0px rgba(23, 73, 121, 0.219);
}
.contactos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.seleccionado{
    color: rgb(3, 21, 182);
    background-color: rgb(202, 202, 221);
    border-radius: 10px;
}
.navegacion-tienda{
    width: 250px;
}
.caja-banner{
    border-radius: 25px;
    background-color: rgb(19, 26, 46);
    opacity: 75%;
}
.barra-tienda{
    width: 250px;
}
.boton-tienda{
    width: 130px;
}
.buscar{
  margin-top: 15px !important;
    left: 42%;
}
.gallery {
    width: 100%;
  }
  
  .gallery-container {
    align-items: center;
    display: flex;
    height: 400px;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
  }
  
  .gallery-item {
    height: 150px;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 150px;
    z-index: 0;
  }
  .card-img{
    height: 150px;
    
    width: 150px;
   
  }
  
  .gallery-item-1 {
    left: 15%;
    opacity: .4;
    transform: translateX(-50%);
  }
  
  .gallery-item-2,
  .gallery-item-4 {
    height: 200px;
    opacity: 1;
    width: 200px;
    z-index: 1;
  }
  
  .gallery-item-2 {
    left: 30%;
    transform: translateX(-50%);
  }
  
  .gallery-item-3 {
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    height: 300px;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    z-index: 2;
  }
  
  .gallery-item-4 {
    left: 70%;
    transform: translateX(-50%);
  }
  
  .gallery-item-5 {
    left: 85%;
    opacity: .4;
    transform: translateX(-50%);
  }
  
  .gallery-controls {
    display: flex;
    justify-content: center;
    margin: 30px 0;
  }
  
  .gallery-controls button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 16px;
    margin: 0 20px;
    padding: 0 12px;
    text-transform: capitalize;
  }
  
  .gallery-controls button:focus {
    outline: none;
  }
  
  .gallery-controls-previous {
    position: relative;
  }
  
  .gallery-controls-previous::before {
    border: solid #000;
    border-width: 0 2px 2px 0;
    content: '';
    display: inline-block;
    height: 4px;
    left: -10px;
    padding: 2px;
    position: absolute;
    top: 0;
    transform: rotate(135deg) translateY(-50%);
    transition: left 0.15s ease-in-out;
    width: 4px;
  }
  
  .gallery-controls-previous:hover::before {
    left: -18px;
  }
  
  .gallery-controls-next {
    position: relative;
  }
  
  .gallery-controls-next::before {
    border: solid #000;
    border-width: 0 2px 2px 0;
    content: '';
    display: inline-block;
    height: 4px;
    padding: 2px;
    position: absolute;
    right: -10px;
    top: 50%;
    transform: rotate(-45deg) translateY(-50%);
    transition: right 0.15s ease-in-out;
    width: 4px;
  }
  
  .gallery-controls-next:hover::before {
    right: -18px;
  }
  
  .gallery-nav {
    bottom: -15px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100%;
  }
  
  .gallery-nav li {
    background: #ccc;
    border-radius: 50%;
    height: 10px;
    margin: 0 16px;
    width: 10px;
  }
  
  .gallery-nav li.gallery-item-selected {
    background: #555;
  }
  
  .baseDerechos {
    text-align: center;
    color: white;
    font-size: 15px;
    vertical-align: middle;
    background: #273b47;
    padding: 10px 0 10px 0;
}
.baseDerechos a{
  text-decoration: none;
  color: #accdf8;
}
.baseDerechos a:hover{
  color: #4f9bff;
}
.cajas-footer{
  justify-content: center;
}
.logos-footer{
  text-decoration: none;
  margin: 0px 20px 10px 0px;
  padding-top: 10px;
}
.logo-footer-acerca{
  height: 70px;
  margin: 0px 10px 0px 0px;
  text-decoration: none;
}
.iconos-footer{
  margin: 0px 20px 10px 0px;
  padding-top: 10px;
  width: 45px;
  height: 45px;
  fill: #091a2e;
  text-decoration: none;
}
.seccion-noticias{
  justify-content: center;
  height: 150px;
  margin: 25px;
}
.banner-acerca{
    height: 200px;
    width: 90%;
    margin: 15px 60px;
}
.acerca-de h1{
    text-align: center;
}
.acerca-de{
    margin: 15px 60px;
}
.iniciar-sesion{
    width: 400px;
}
.caja-registro{
    background-color: #3469b857;
    padding: 35px;
    border-radius: 5px;
    
}
.login-registro{
	display: flex;
    flex-direction: row;
	justify-content: center;
	width: 500px;
    border-color: #46a2fd solid 3px;

}

.login-registro form{
	background: white;
	border-radius: 20px;
}

.login-registro h2{
	font-size: 30px;
	text-align: center;
	margin: 20px;
	color: #46a2fd;
}

.login-registro form input{
	width: 100%;
	margin-top: 10px;
	padding: 20px;
	border: none;
	background: #f2f2f2 ;
	font-size: 16px;
}

.login-registro form button{
	padding: 10px 40px;
	margin-top: 40px;
	border: none;
	font-size: 14px;
	background:#46a2fd ;
	color: white;
}
.fondo-registro{
    background-color: #1d7ece85;
    padding: 10px;
    margin: 15px;
    border-radius: 25px;
}
.tarjetas{
    height: 200px;
}
nav ul{
  margin: 0px;
  padding: 0px;
  
}
nav li{
   
  border-radius: 0px;
  
}

nav li a{
  font-size: 22px;
  font-weight: bold;
  color: rgb(219, 227, 235) !important;
  
}
nav li a:hover{
  background-color: #314c74 !important;
  color: #9ec5ff !important;
  
}
.barra-navegacion{
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #112035 !important;

}
.nav-pills .nav-link {
  border-radius: 0;
  padding-left: 30px;
  padding-right: 30px;
  
}
.nav-pills .nav-link.active{
  background-color: rgb(157, 188, 233)!important;
  color: rgb(21, 37, 58) !important;
}
.nav-pills .nav-link.active:hover{
  background-color: rgb(60, 120, 209)!important;
  color: rgb(1, 10, 20) !important;
  
  
}
.desplegable{
  font-size: 18px;
  background-color: #112035 !important;
  top: 45px !important;
}
.desplegable li a{
  font-size: 18px;
  background-color: #112035 !important;
}
.buscar-formulario{
  border: 1px solid #a2d0ff;
}
.buscar-boton{
    color: #0a3875 !important;
    border-color: #0a3875 !important;
}
.buscar-boton:hover{
  color: #c6d6eb !important;
  border-color: #00060e !important;
  background-color: #183153;
}
.politicas{
  height: 350px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
}
.navegacion-politicas-item:link{
  color: rgb(200, 255, 0) !important;
  background-color: #000;
}
.navegacion-politicas-item:active{
  color: red !important;
  background-color: rgb(245, 50, 50);
}
.politicas-main{
  
  justify-content: center;
  margin: 0 125px 50px 125px;
  padding: 0 50px 0 50px;
}
.politicas-titulos{
  font-size: 20px;
  font-weight: bold;
}