/* Responsive */
@media screen and(max-width: 850px){
	
	main{
		margin-bottom: 50px;
	}
	.caja_trasera{
		max-width: 350px;
		height: 300px;
		flex-direction: column;
		margin: auto;
	}
	
	.caja_trasera div{
		margin: 0px;
		position: absolute;

	}

/* 
formulario */

	.contenedor__login-register{
		top: -10px;
		left: -5px;
		margin: auto;
	}

	.contenedor__login-register form{
		position: relative;
		
	}
}