/*Fondo para el Main*/
.fondo-claro{
  background-color: rgb(250, 248, 248) !important;
}
/*Estilo Header*/
header{
display:flex;
flex-direction: row;
background-color: #ecf3ff !important;  
}
.logo img{
margin: 15px 0px 10px 50px;
height: 70px;
}
.modulo-usuario{
margin: 15px 50px 15px 0px;
}
.modulo-usuario h3{
  color: #155481;
  font-size: 25px;
  font-weight: 700;
  }
  .modulo-usuario h5{
    color: #156ba8;
    font-size: 20px;
    font-weight: 600;
    }
.buscar{
margin-top: 15px !important;
left: 33%;
width: 400px;
height: 35px;
}
.buscar-formulario{
border: 1px solid #a2d0ff;
}
.buscar-boton{
font-size: 18px;
font-weight: 300;
color: #3977c9 !important;
border-color: #72cbff !important;
padding: 0 15px;
}
.buscar-boton:hover{
color: #c6d6eb !important;
border-color: #121a24 !important;
background-color: #183153;
}
.barra-emprendedores{
left: -90px !important;
background-color: #d6e3f5;
position: relative;
border-radius: 10px;
}
.caja-barra-emprendedores{
margin: 10px -20px 10px 30px;
}
.caja-barra-emprendedores:hover{
margin: 10px -20px 10px 30px;
}
.caja-barra-emprendedores svg{
width: 20px;
height: 20px;
margin: -5px 10px 0 0;
}
.caja-barra-emprendedores:hover svg{
fill: rgb(0, 140, 255);
}
.caja-barra-emprendedores a{
font-size: 18px;
font-weight: 600 !important;
color: #081c35;
margin-top: 2px;
}
.caja-barra-emprendedores:hover a{
color: rgb(0, 140, 255);
}
.emprendedores-flecha{
margin-right: -45px !important;
margin-top: 10px;
width: 50px;
height: 50px;
fill: #0d2647;
}
.emprendedores:hover .modulo-emprendedores{
height: 54px;
margin: 17px 0 5px 25px;
padding-left: 0px;
padding-right: 10px;
border-radius: 10px;
}
.emprendedores:hover .emprendedores-flecha{
margin-right: -45px !important;
width: 65px;
height: 65px;
fill: #174583;
}
.modulo-emprendedores{
height: 50px;
margin: 20px 0 10px 25px;
padding-left: 0px;
padding-right: 10px;
border-radius: 10px;
}
/*Modulo de Registro y Login*/
.login-registro{
justify-content: center;
border-color: #46a2fd solid 3px;
}
.login-registro form{
background: white;
border-radius: 20px;
}
.login-registro h2{
font-size: 30px;
text-align: center;
margin: 20px;
color: #46a2fd;
}
.login-registro form input{
width: 100%;
margin-top: 10px;
padding: 20px;
border: none;
background: #f2f2f2 ;
font-size: 16px;
}
.login-registro form button{
padding: 10px 40px;
margin-top: 40px;
border: none;
font-size: 14px;
background:#46a2fd ;
color: white;
}
.fondo-registro{
  background-color: #1d7ece85;
  padding: 10px;
  margin: 15px;
  border-radius: 25px;
}
/*Estilo Navegacion*/
nav{
padding-left: 50px;
}
nav ul{
margin: 0px;
padding: 0px;
}
nav li{
border-radius: 0px;
}
nav li a{
font-size: 22px;
font-weight: bold;
color: rgb(219, 227, 235) !important;
}
nav li a:hover{
background-color: #314c74 !important;
color: #9ec5ff !important;
}
.barra-navegacion{
margin: 0px;
padding-top: 0px;
padding-bottom: 0px;
background: linear-gradient(180deg,#294672, #122542);
padding-left: 35px;
}
.nav-pills .nav-link {
border-radius: 0;
padding-left: 30px;
padding-right: 30px;
}
.nav-pills .nav-link.active{
background-color: rgba(157, 196, 255, 0.884)!important;
color: rgb(7, 30, 59) !important;
font-weight: bold;
}
.nav-pills .nav-link.active:hover{
background-color: rgba(38, 121, 255, 0.822)!important;
color: rgb(129, 215, 255) !important;
}
.desplegable{
font-size: 18px;
background-color: #112035 !important;
top: 45px !important;
}
.desplegable li a{
font-size: 18px;
background-color: #112035 !important;
}
.categorias-navegacion{
padding: 5px 26px 5px 26px;
}
.barra-oculta a{
color: #eef4f7;
padding-left: 35px !important;
padding-right: 35px !important;
font-size: 22px;
}
.barra-oculta a:hover{
color: #76abff !important;
background-color: rgb(9, 19, 43);
}
.navegacionSecundaria{
height: 50px;
}
.boton-barra{
margin-right: 50px;
margin-top: 4px;
border: solid 2px rgb(205 228 255 / 50%) !important;
}
.boton-barra:hover{
margin-right: 49px;
margin-top: 3px;
border: solid 3px #3a81f3a4 !important;
}
.barra-oculta{
margin-right: 125px;
background-color: #2f5ca0 !important;
}
.navbar-toggler:focus{
box-shadow: 0 0 0 0 !important;
}
/*Estilo Footer*/ 
footer{
background-color: #d4e2f3 !important;
margin-top: -10px;
}
.baseDerechos {
text-align: center;
color: white;
font-size: 15px;
vertical-align: middle;
background: #273b47;
padding: 10px 0 10px 0;
}
.cajas-footer{
justify-content: center;
}
.logos-footer{
text-decoration: none;
margin: 0px 20px 10px 0px;
padding-top: 10px;
}
.logo-footer-acerca{
height: 70px;
margin: 0px 10px 0px 0px;
text-decoration: none;
}
.iconos-footer{
margin: 0px 20px 10px 0px;
padding-top: 10px;
width: 45px;
height: 45px;
fill: #091a2e;
text-decoration: none;
}
/*Banner Principal de Index*/
.banner-inicio{
height: 250px;
width: 90%;
margin: 10px 70px 0 70px;
border-radius: 35px;
box-shadow: 0px 3px 3px 0px rgba(23, 73, 121, 0.219);
}
/*Galeria Categorias Index*/
.gallery {
width: 100%;
}
.gallery-container {
align-items: center;
display: flex;
height: 250px;
margin: 0 auto;
max-width: 75%;
position: relative;
}
.gallery-item {
height: 150px;
opacity: 0;
position: absolute;
width: 150px;
z-index: 0;
border-radius: 25px !important;
}
.caja-imagen-categorias{
background-color: #081a36 !important;
border-radius: 25px !important;
padding: 0;
}
.imagen-categorias{
height: 150px;
border-radius: 25px !important;
object-fit: cover;
opacity: 0.5;
}
.gallery-item-1 {
height: 150px;
width: 250px;
left: 10%;
z-index: 0;
opacity: .3;
transform: translateX(-50%);
bottom:25px;
}
.gallery-item-2 {
height: 150px;
opacity: .6;
width: 300px;
z-index: 1;
left: 30%;
transform: translateX(-50%);
bottom:50px;
}
.gallery-item-3 {
height: 150px;
opacity: 1;
left: 50%;
transform: translateX(-50%);
width: 350px;
z-index: 2;
bottom: 75px;
}
.gallery-item-4 {
height: 150px;
opacity: .6;
width: 300px;
z-index: 1;
left: 70%;
transform: translateX(-50%);
bottom:50px;
}
.gallery-item-5 {
height: 150px;
width: 250px;
left: 90%;
z-index: 0;
opacity: .3;
transform: translateX(-50%);
bottom:25px;
}
.gallery-controls {
display: flex;
justify-content: center;
margin: 0;
}
.gallery-controls button {
background-color: transparent;
border: 0;
cursor: pointer;
font-size: 16px;
margin: 0 75px;
padding: 0 15px;
text-transform: capitalize;
}
.gallery-controls button:focus {
outline: none;
}
.gallery-controls-anterior {
position: relative;
}
.gallery-controls-anterior::before {
border: solid #000;
border-width: 0 2px 2px 0;
content: '';
display: inline-block;
height: 16px;
left: -10px;
padding: 2px;
position: absolute;
top: 0%;
transform: rotate(135deg) translateY(-50%);
transition: left 0.15s ease-in-out;
width: 16px;
}
.gallery-controls-anterior:hover::before {
border-width: 0 4px 4px 0;
left: -20px;
}
.gallery-controls-siguiente {
position: relative;
}
.gallery-controls-siguiente::before {
border: solid #000;
border-width: 0 2px 2px 0;
content: '';
display: inline-block;
height: 16px;
padding: 2px;
position: absolute;
right: -10px;
top: 50%;
transform: rotate(-45deg) translateY(-50%);
transition: right 0.15s ease-in-out;
width: 16px;
}
.gallery-controls-siguiente:hover::before {
border-width: 0 4px 4px 0;
right: -20px;
}
.gallery-nav {
bottom: -15px;
display: flex;
justify-content: center;
list-style: none;
padding: 0;
position: absolute;
width: 100%;
}
.gallery-nav li {
background: #ccc;
border-radius: 50%;
height: 10px;
margin: 0 16px;
width: 10px;
}
.gallery-nav li.gallery-item-selected {
background: #555;
}
.categorias-titulo{
font-weight: 700;
text-align: center;
margin-top: -30px;
}
.texto-categorias{
top: 20% !important;
text-align: center !important;
}
.texto-categorias a{
font-size: 40px !important;
font-weight: 700 !important;
text-decoration: none;
color: rgb(255, 255, 255);
}
.texto-categorias a:hover{
font-size: 45px !important;
color: rgb(211, 248, 0);
}
.texto-categorias-largo{
top: 0% !important;
text-align: center !important; 
}
.texto-categorias-largo a{
font-size: 40px !important;
font-weight: 700 !important;
text-decoration: none;
color: rgb(255, 255, 255);
}
.texto-categorias-largo a:hover{
font-size: 45px !important;
color: rgb(86, 215, 255);
}
/*Publicidad y Sección Noticias Index*/
.tarjeta-emprendedor-imagen{
height: 300px;
border-radius: 25px 25px 0 0;
object-fit: cover;
opacity: 0.2;
}
.tarjeta-emprendedor{
text-align: center;
font-size: 60px;
font-weight: 750;
color: #08264d;
margin: 40px 15px;
}

.tarjeta-registro:hover .tarjeta-emprendedor{
display: none;
}

.tarjeta-emprendedor-oculta{
font-size: 50px;
font-weight: 750;
text-align: center;
display: none;
color: #0a5081;
margin-top: 10px;
transition: 1s ease;
}
.tarjeta-emprendedor-oculta p{
color: #0f2738;
font-size: 30px;
font-weight: 650;
}
.tarjeta-emprendedor-oculta h3{
color: #082536;
font-size: 35px;
}
.tarjeta-registro:hover .tarjeta-emprendedor-oculta{
display: flex;
flex-direction: column;
padding: 20px 40px 20px 40px;
transition: 1s ease;
}
.tarjeta-registro{
background-color: #e1ff38;
padding: 0px;
border-radius: 25px 25px 0 0 !important;
border: none !important;
}
.tarjeta-registro-footer{
margin: 0px;
padding: 5px;
text-align: center;
border-radius: 0 0 25px 25px !important;
background-color: #acd0ff !important;
}
.tarjeta-registro-footer a{
font-size: 30px;
font-weight: 650;
text-decoration: none !important;
color: #c50202 !important;
}
.tarjeta-registro-footer a:hover{
color: #2a3eb1 !important;
font-weight: 750 !important;
}
.imagen-seccion-noticias{
height: 125px;
object-fit: cover;
border-radius: 10px;
}
.seccion-noticias{
border-radius: 25px;
}
/*Inicio de Related Pages Index*/
.aliados{
height: 100px;
width: 100px;
border-radius: 90px;
object-fit: fill;
}
.related-pages{
background-color: #081a36;
color: #f2f2f2;
width: 70%;
text-align: center;
}
.related-pages-fondo{
background-color: #081a36;
margin: 0;
}

.related-pages-cajas{
color: #f2f2f2;
width: 100%;
display: flex;
flex-direction: row;
justify-content: center;
}
.related-titulo{
color: #f2f2f2;
font-size: 30px;
font-weight: 700;
text-align: center;
}

.banner{
box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
/*Estilo Pestaña Tienda*/
.navegacion-tienda{
width: 250px;
}
.barra-tienda{
width: 300px;
}
/*Estilo Pestaña Acerca de*/
.banner-acerca{
height: 200px;
width: 90%;
margin: 20px 70px;
border-radius: 35px;
box-shadow: 0px 3px 3px 0px rgba(23, 73, 121, 0.219);
}
.acerca-de h1{
  font-size: 30px;
  color: #0c2b66;
text-align: center;
font-weight: 700;
margin: 20px;
}
.acerca-de{
margin: 15px 60px;
}
.acerca-de p{
  font-size: 18px;
  color: #03122e;
text-align: center;
font-weight: 400;
padding: 5px 40px 5px 40px ;
}
/*Estilo Pestaña Politicas*/
.politicas{
height: 350px;
overflow-y: scroll;
scroll-snap-type: y mandatory;
overflow-x: hidden;
}
.navegacion-politicas-item:link{
color: rgb(200, 255, 0) !important;
background-color: #000;
}
.navegacion-politicas-item:active{
color: red !important;
background-color: rgb(245, 50, 50);
}
.politicas-main{
justify-content: center;
margin: 0 125px 50px 125px;
padding: 0 50px 0 50px;
}
.politicas-titulos{
font-size: 20px;
font-weight: bold;
}
/*Estilo Pestaña Admin*/
.header-admin{
display:flex;
flex-direction: row;
background-color: #ffffff !important; 
}
.header-admin-contenedor{
background-color: #eaf0f7d5 !important; 
display:flex;
flex-direction: row;
justify-content: space-between;
padding-left: 25px;
}
.logo-admin img{
margin: 15px 42px 0px 43px;
height: 70px;
}
.logo-admin{
border-right: solid 3px rgb(154, 190, 219) !important;
}
.barra-oculta-admin a{
color: #eef4f7;
padding-left: 35px !important;
padding-right: 35px !important;
font-size: 16px;
}
.barra-oculta-admin a:hover{
color: #76abff !important;
background-color: rgb(9, 19, 43);
}
.barra-oculta-admin{
margin-right: 110px;
background-color: #2f5ca0 !important;
}
.barra-admin{
height: 40px;
}
.boton-barra-admin{
padding: 0px;
margin: 0px 45px 0 0;
border-color: rgba(255, 255, 255, 0) !important;
}
.crud-admin{
padding: 15px 0 15px 0;
border-right: solid 3px rgb(102, 166, 219) !important;
min-height: 455px;
}
.boton-crud{
font-size: 23px;
font-weight: 600;
color: #f7f8f8;
padding: 15px 30px!important;
margin: 15px 0px;
border-radius: 25px 0px;
border-top: solid 2px #6cb8ff00 !important;;
border-left: solid 2px #6cb8ff00 !important;;
border-right: solid 2px #6cb8ff !important;
border-bottom: solid 2px #6cb8ff !important;
background-color: #ffffff00;
}
.boton-crud:hover{
color: #1cb7ff;
border-right: solid 2px #ffffff;
border-bottom: solid 2px #ffffff;

}
.boton-crud-eliminar{

text-decoration: none;
color: #ffa3a3;
border-top: solid 2px #6cb8ff00 !important;;
border-left: solid 2px #6cb8ff00 !important;;
border-right: solid 2px #ffbcbc !important;
border-bottom: solid 2px #ffbcbc !important;
background-color: #ffffff00 !important;
}
.boton-crud-eliminar:hover{
color: #f8f8f2;
border-top: solid 2px #6cb8ff00 !important;;
border-left: solid 2px #6cb8ff00 !important;;
border-right: solid 2px #ff3636ce !important;
border-bottom: solid 2px #ff3636ce !important;
background-color: #ff3636ce !important;

}
.perfil{
font-size: 20px;
font-weight: 500;
padding-left: 15px;
border-radius: 20px 0px 0px 20px;
color: #9bcfff !important;
}
.perfil:hover{
color: #e7ebf1 !important;
}
.baseDerechos-admin {
text-align: center;
color: white;
font-size: 15px;
vertical-align: middle;
background: #273b47;
padding: 10px 0 10px 0;
margin-top: 10px;
}
.cerrar-sesion{
position: relative;
top: 50px;
left: 90px;
padding-bottom: 60px;

}
.cerrar-sesion:hover .boton-cerrar-sesion{
fill: #0095ff;
}
.cerrar:hover{
color: #0095ff;
}
.boton-cerrar-sesion {
height: 25px;
width: 25px;
fill: #b8cfdf;
}
.cerrar-sesion:hover .cerrar{
color: #0095ff;
}
.cerrar{
vertical-align: middle;
font-size: 22px;
font-weight: 400;
color: #b8cfdf;
text-decoration: none;
}
.navegacion-crud{
padding-left: 70px !important;
}
.nombre-emprendimiento{
  background-color: #0095ff00;
  color: #164a86;
  margin: 20px 0 0 10px;
  font-size: 35px;
  font-weight: 700;
  text-align: left;
}
.logo-registro-emprendimiento {
  background-color: #eef3f7;
  border-bottom: solid 5px #1a3b55 !important;
}
.logo-registro-emprendimiento img{
  height: 85px;
  margin: 0px;
}
.titulo-formulario-registro{
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-size: 24px;
  color: #233847;
  font-weight: 700;
}
.formulario-registro{
  margin: 5px 10px;
}
.formulario-registro label{
  font-size: 15px;
  font-weight: 600;
  color: #183349;
  padding: 5px ;
}
.formulario-registro input{
  height: 30px;
}
.boton-formulario-registro{
  font-weight: 600;
  margin: 15px 10px 0px 10px;
  background-color: #1a3961;
  color: #ecf1f5;
}
.boton-formulario-registro:hover{
  background-color: #83c3f3;
  color: #031022;
}
.titulo-formulario-registro-emprendimiento{
  padding: 0px;
  text-align: center;
  font-size: 25px;
  margin: 10px 0 -10px 0;
  color: #233847;
  font-weight: 700;
}
.formulario-registro-emprendimiento{
  margin: 5px 10px;
}
.formulario-registro-emprendimiento label{
  font-size: 15px;
  font-weight: 650;
  color: #1c4363;
  padding: 5px ;
}
.formulario-registro-emprendimiento input{
  height: 35px;
}
.boton-formulario-registro-emprendimiento{
  font-weight: 600;
  margin: 15px 10px 0px 10px;
  background-color: #1a3961;
  color: #ecf1f5;
}
.boton-formulario-registro-emprendimiento:hover{
  background-color: #83c3f3;
  color: #031022;
}
.descripcion-emprendimiento{
  height: 100px;
  margin-top: 1px;
}
.boton-eliminar-cuenta{
  font-size: 25px;
  font-weight: 600;
  padding: 15px 25px;
  border-radius: 15px;
  margin-top: 10px;
}
.boton-eliminar-cuenta:hover{
  background-color: rgb(248, 0, 0);
  color: #ffffff;
}
.actualizar-registro{
  display: flex;
  flex-direction: row;
  
  margin: 15px 60px;
}
.actualizar-registro label{
  width: 200px;
  font-size: 15px;
  font-weight: 600;
  color: #183349;
  padding: 5px ;
}
.actualizar-registro input{
  height: 35px;
  width: 500px;
  
}
.boton-actualizar-registro{
  font-weight: 600;
  margin: 10px 10px 0px 10px;
  background-color: #1a3961;
  color: #ecf1f5;
}
.boton-actualizar-registro:hover{
  background-color: #83c3f3;
  color: #031022;
}
.ver-perfil{
  color: #076fb9 !important;
  font-size: 25px;
  font-weight: 700;
}
.ver-emprendimiento{
  color: #072338 !important;
  margin-left: 25px;
}
.ver-perfil-caja{
  color: #072338;
}
.ver-emprendimiento-text{
  color: #076fb9 !important;
  font-weight: 700;
}
.ver-emprendimiento-parrafo{
  padding: 0px 20px 0px 10px;
  font-size: 18px;
  font-weight: 400;
}
.boton-crud-seleccionado{
  color: #82cbff !important;
}
.perfil-seleccionado{
  color: #112236 !important;
  background-color: #59baffc4 !important;
}
.boton-crud-eliminar-seleccionado{
  color: #f8f8f2;
  border-top: solid 2px #6cb8ff00 !important;;
  border-left: solid 2px #6cb8ff00 !important;;
  border-right: solid 2px #ff3636ce !important;
  border-bottom: solid 2px #ff3636ce !important;
  background-color: #ff3636ce !important;
  
  }
  .boton-crud-eliminar-seleccionado:hover{

    text-decoration: none;
    color: #ff6b6b;
    border-top: solid 2px #6cb8ff00 !important;;
    border-left: solid 2px #6cb8ff00 !important;;
    border-right: solid 2px #ff5f5f !important;
    border-bottom: solid 2px #ff5f5f !important;
    background-color: #ffffff18 !important;
    }
  .navegacion-categorias{
    display: block;
    margin: 30px 50px;
  }
  .navegacion-categorias li{
    margin: 0px 10px;
    padding: 0px;
    font-size: 20px;
    font-weight: 600;
  }
  .navegacion-categorias a{
    color: #11233b !important;
  }
  .navegacion-categorias a:hover{
    font-size: 18px;
    color: #0a6be9 !important;
    font-weight: 700;
  }
  .mapa-de-sitio{
    font-size: 22px !important;
    font-weight: 500 !important;
    color: #0a2649 !important;
    text-decoration: none !important;
    padding: 5px;
    border-radius: 15px;
    margin: 0px;
  }
  .mapa-categorias{
    font-size: 18px !important;
    font-weight: 500 !important;
    color: #1d4270 !important;
    text-decoration: none !important;
    padding: 10px;
    border-radius: 10px;
    margin: 0px;
  }
  .baseDerechos a{
    color: #71c4ff !important;
text-decoration: none !important;
  }
  .baseDerechos a:hover{
    color: #008cff !important;

  }
  .baseDerechos-admin a{
    color: #71c4ff !important;
text-decoration: none !important;
    }
  .baseDerechos-admin a:hover{
    color: #008cff !important;
    }
    
  .barra-admin:active{
    color: #ff0000 !important;
  }
  .modal-politicas{
    max-width: 900px !important;
  }
  
.password-icon {
  float: right;
  position: relative;
  margin: -25px 10px 0 0;
  cursor: pointer;
}
.password-icon {
  float: right;
  position: relative;
  margin: -25px 10px 0 0;
  cursor: pointer;
}
.navegacion-categorias1{
  background-color: #eef0f5;
}
.scroll-emprendimientos{
  max-height: 600px;
  overflow: auto;
}
.margin-footer{
  margin-top: 0px;
}
.lista-emprendimientos h6{
  color: #2c6fa7 !important;
}
.lista-emprendimientos h1{
  font-size: 60px !important;
  font-weight: 700;

  color: #1068af !important;
}
.titulo-listar-categorias{
  color: #1d2933;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}
.aceptar{
  font-size: 13px !important;
  color: #566fa7;
}
.aceptar:hover{
  color: #000fdf;
}
.aceptar-politicas{
  margin: 15px 0px 0px 10px;
}
.acepto-las{
  color: #010914 !important;
}
.acepto-las:hover{
  color: #010914 !important;
}