*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;

}
/* 
imagen fondo */
body{
	background-image: url(../Imagenes/fondo.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}
main{
	width: 100%;
	padding: 20px;
	margin: auto;
	margin-top: 100Px;
}

.Contenedor_todo{
	width: 100%;
	max-width: 800px;
	margin: auto;
	position: relative;
}

.caja_trasera{
	width: 100%;
	padding: 200px 25px;
	display: flex;
	justify-content: center;
	backdrop-filter: blur(10px);
	background-color: rgba(0,128,255,0.5);
	border-radius: 30px;
}
	

.caja_trasera div{
	
	margin: 100px 40px ;
	color: white;
	transition: all 500ms;

}


/* formularios */
.contenedor__login-register{
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 380px;
	position: relative;
	top: -100px;
	left: 450px;	

	transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor__login-register form{
	width: 100%;
	padding: 30px 20px;
	background: white;
	position: absolute;
	border-radius: 20px;
}

.contenedor__login-register form h2{
	font-size: 30px;
	text-align: center;
	margin-bottom: 20px;
	color: #46a2fd;
}

.contenedor__login-register form input{
	width: 100%;
	margin-top: 10px;
	padding: 20px;
	border-radius: 8px;
	background: #f2f2f2 ;
	font-size: 16px;
}

.contenedor__login-register form button{
	padding: 10px 40px;
	margin-top: 30px;
	

}

.formulario__register{
	opacity: 1;
	display: block;
;
}
